*
{
    margin: 0;
    padding: 0;
}
body
{
    background: url("https://ampir.ru/upload/iblock/135/13566b3189b3ba3580b9d9024328ca87.jpeg");
}
input[type="text"], input[type="password"], input[type="search"]
{
    color: #8b008b;
    width: 60%;
    padding: 8px;
}
input, textarea
{
    outline: none;
    border: solid 2px #f2f2f2;
}
h1, h2
{
    font: normal 170% 'century gothic';
    margin: 0 0 15px 0;
    color: black;
}
h2
{
    font-size: 140%;
}
a, a:hover
{
    text-decoration: none ;
    outline: none;
}

.header
{
    background-color: #8b008b;
    height: 180px;
    margin-left: 0;
    margin-right: 0;
    font-size: 0.8em;
    min-width: 900px;
}
.logo
{
    width: 880px;
    padding-bottom: 40px;
}
.logo h1, .logo h2
{
    font: normal 300% "trebuchet ms", sans-serif;
    margin: 0 8px 0 8px;
}
.sub_logo h1, .sub_logo h1 a, .sub_logo h1 a:hover
{
    padding: 22px 0 0 0;
    color: white;
    letter-spacing: 0.1em;
    text-decoration: none;

}
.sub_logo h2
{
    padding: 4px 0 0 0;
    color: #999;
    font-size: 0.9em;
}

.main, .logo, .menu, .footer, .content
{
    margin-left: auto;
    margin-right: auto;
}
.menu
{
    width: 900px;
    height: 45px;
}
ul.menu
{
    float: right;
}
ul.menu li
{
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}
ul.menu li a
{
    font: normal 130% 'trebuchet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: white;
    text-decoration: none ;
}
ul.menu li.selected a
{
    color: yellow;
}
ul.menu li a:hover
{
    color: #e4ec04
}
.content
{
    width: 880px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    background-color: white;
}
.sidebar_cont
{
    float: right;
    width: 224px;
}
.sidebar
{
    float: right;
    width: 222px;
    padding: 5%;
    margin: 0 0 16px 0;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.btn
{
    padding: 8px;
    background-color: white;
    cursor: pointer;
}
.btn a.selected
{
    color: yellow;
}
.sidebar h2
{
    color: darkmagenta;
}
.passreg_text
{
    font-size: 80%;
    outline: none;
    color: darkmagenta;
    padding: 0 0 4px 0;
}